::selection {
    background-color: #6e6;
}

body {
    background: #e4e5e7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    cursor: default;
    transition: background 1s;
}

header,
#tasks-list,
#input-container {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .5);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(184, 255, 173, 0.33);
    padding: 4px 0;
}

#parametrs,

#parametrs {
    position: absolute;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-left: 8px;
    background-color: unset;
    border-radius: unset;
}

#switch-container {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    font-size: 16px;
    gap: 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 16px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 2px;
    background-color: #fff;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 40px;
}

.slider.round:before {
    border-radius: 50%;
}

#logo-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#logo {
    font-size: 24px;
    text-shadow: 0 0 3px #000;
    color: rgb(50, 240, 50);
}

#underlogo {
    text-shadow: 0 0 1px #fff;
    color: rgb(43, 211, 43);
}

.theme {
    position: absolute;
    right: 0;
    margin-right: 8px;
    background-color: #acb8dd;
}

.theme img {
    width: 16px;
}

.dark {
    background-color: #262f49;
}

.dark img {
    filter: invert(1);
}

.empty-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-list-title {
    font-size: 32px;
    margin: 1vh;
}

#own-container {
    display: flex;
    gap: 16px;
    margin: 16px;
}

#tasks-list {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .67);
    padding: 8px;
    margin: 0;
    flex-grow: 1;
}

li {
    list-style: none;
}

.task-item {
    outline: 1px solid #000;
    border-radius: 4px;
    padding: 8px;
}

.task-info {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 8px;
}

.description {
    grid-column: span 3;
}

.task-title-head,
.task-category-head,
.task-time-head,
.task-description-head {
    color: rgba(64, 64, 64, .75);
}

.task-title,
.task-category,
.task-time,
.task-description {
    font-weight: bold;
    hyphens: auto;
}

.task-item-buttons {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 25%;
    width: 32px;
    opacity: .5;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
}

.btn-action:hover {
    opacity: 1;
}

.done {
    background-color: #0f0;
}

.delete {
    background-color: #f00;
}

.edit {
    transform: scaleX(-1);
    background-color: #ff0;
}

.confirm-edit {
    color: white;
    background-color: #080;
}

.task-done {
    text-decoration: line-through;
    color: #f00;
}

#input-container {
    position: sticky;
    top: 73px;
    z-index: 1;
    display: inline-block;
    align-self: flex-start;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 4px;
}

#task-header-card {
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: 3px 3px 0 0;
}

form {
    background-color: rgba(255, 255, 255, .67);
    border-radius: 0 0 3px 3px;
    gap: 12px;
}

.task-title-input,
.task-description-input,
.task-category-select,
.add {
    border: none;
    outline: 1px solid #000;
    border-radius: 4px;
}

.task-title-input {
    margin: 16px 8px 0;
}

.task-description-input:focus,
.task-category-select:focus,
.add:focus,
.task-title-input:focus {
    outline: 3px solid #0c0;
}

.example-container {
    font-size: .75rem;
    color: #b4b4b4;
    margin: 0 8px;
}

.task-description-input {
    margin: 0 8px;
}

.add {
    background-color: #66f;
    color: #fff;
    border: none;
    margin-bottom: 16px;
    width: 128px;
    height: 32px;
    cursor: pointer;
    transition: background .25s;
}

.add:hover {
    background-color: #99f;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    header {
        position: static;
    }

    #parametrs .qwe {
        display: none;
    }

    #input-container {
        position: relative;
        left: 50%;
        top: 0;
        margin-bottom: 16px;
        transform: translateX(-50%);
    }

    .empty-list-title {
        font-size: 1.5rem;
    }

    #tasks-list {
        font-size: 16px;
    }

    .task-info {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    #own-container {
        display: block;
        margin: 16px;
    }
}

.light-text {
    color: #e8e8e8;
}

.d-none {
    display: none;
}