::selection {
    background-color: #6e6;
}

body {
    background: #e4e5e7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    cursor: default;
}

header,
#tasks-list,
#input-container {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .5);
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, .25);
    padding-bottom: 4px;
}

.empty-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-list-title {
    font-size: 32px;
    margin: 1vh;
}

#tasks-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 4px;
    background-color: #fff;
    padding: 8px;
    margin: 32px 8px;
}

li {
    list-style: none;
}

.task-item {
    outline: 1px solid #000;
    border-radius: 4px;
    padding: 8px;
}

.task-info {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 8px;
}

.description {
    grid-column: span 3;
}

.task-title-head,
.task-category-head,
.task-time-head,
.task-description-head {
    color: rgba(64, 64, 64, .75);
}

.task-title,
.task-category,
.task-time,
.task-description {
    font-weight: bold;
    hyphens: auto;
}

.title:active,
.category:active,
.time:active,
.description:active,
.task-title:active,
.task-description:active,
.task-category:active,
.task-time:active {
    outline: dashed 2px #9fc49f;
}

.task-item-buttons {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 25%;
    width: 32px;
    opacity: .5;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
}

.btn-action:hover {
    opacity: 1;
}

.done {
    background-color: #0f0;
}

.delete {
    background-color: #f00;
}

.edit {
    background-color: #ff0;
}

.task-done {
    text-decoration: line-through;
    color: #f00;
}

#input-container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 4px;
    margin: 16px 0;
}

#task-header-card {
    text-align: center;
    background-color: rgba(255, 255, 255, .25);
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: 3px 3px 0 0;
}

#task-body-card {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 0 0 3px 3px;
}

#task-body-card.container {
    gap: 12px;
}

#task-title-input,
#task-description-input,
#task-category-select,
.add {
    border: none;
    outline: 1px solid #000;
    border-radius: 4px;
}

#task-title-input {
    margin: 16px 8px 0;
}

#task-title-input:focus {
    outline: 3px solid #0c0;
}

#example-container {
    font-size: .75rem;
    color: #b4b4b4;
    margin: 0 8px;
}

#task-description-input {
    margin: 0 8px;
}

#task-description-input:focus {
    outline: 3px solid #0c0;
}

#task-category-select:focus {
    outline: 3px solid #0c0;
}

.add {
    background-color: #66f;
    color: #fff;
    border: none;
    margin-bottom: 16px;
    width: 128px;
    height: 32px;
    cursor: pointer;
}

.add:focus {
    outline: 3px solid #0c0;
}

.add:focus-visible {
    outline: 3px solid #080;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}